<form class="form-group" method="POST" action="">
  <label for="firstname">first name</label>
  <input name="firstname">
  <label for="lastname">last name</label>
  <input name="lastname">
  <label for="username">username</label>
  <input name="username">
  <label for="password">password</label>
  <input type="password" name="password">
  <label for="confirmation">password confirmation</label>
  <input type="password" name="confirmation">
  <button>Submit</button>
</form>